body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:895px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u629_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u629 {
  position:absolute;
  left:52px;
  top:25px;
  width:195px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u630 {
  position:absolute;
  left:2px;
  top:11px;
  width:191px;
  word-wrap:break-word;
}
#u631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:50px;
}
#u631 {
  position:absolute;
  left:52px;
  top:204px;
  width:46px;
  height:50px;
}
#u632 {
  position:absolute;
  left:2px;
  top:17px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u633_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u633 {
  position:absolute;
  left:182px;
  top:132px;
  width:124px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u634 {
  position:absolute;
  left:2px;
  top:21px;
  width:120px;
  word-wrap:break-word;
}
#u635 {
  position:absolute;
  left:98px;
  top:229px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u635_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:47px;
  height:8px;
}
#u635_seg1 {
  position:absolute;
  left:39px;
  top:-71px;
  width:8px;
  height:75px;
}
#u635_seg2 {
  position:absolute;
  left:39px;
  top:-71px;
  width:45px;
  height:8px;
}
#u635_seg3 {
  position:absolute;
  left:69px;
  top:-77px;
  width:20px;
  height:20px;
}
#u636 {
  position:absolute;
  left:-7px;
  top:-40px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u637_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u637 {
  position:absolute;
  left:182px;
  top:269px;
  width:124px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u638 {
  position:absolute;
  left:2px;
  top:21px;
  width:120px;
  word-wrap:break-word;
}
#u639 {
  position:absolute;
  left:98px;
  top:229px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u639_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:45px;
  height:8px;
}
#u639_seg1 {
  position:absolute;
  left:37px;
  top:-4px;
  width:8px;
  height:78px;
}
#u639_seg2 {
  position:absolute;
  left:37px;
  top:66px;
  width:47px;
  height:8px;
}
#u639_seg3 {
  position:absolute;
  left:69px;
  top:60px;
  width:20px;
  height:20px;
}
#u640 {
  position:absolute;
  left:-9px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u641 {
  position:absolute;
  left:413px;
  top:132px;
  width:124px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u642 {
  position:absolute;
  left:2px;
  top:12px;
  width:120px;
  word-wrap:break-word;
}
#u643 {
  position:absolute;
  left:306px;
  top:162px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u643_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:111px;
  height:8px;
}
#u643_seg1 {
  position:absolute;
  left:92px;
  top:-10px;
  width:20px;
  height:20px;
}
#u644 {
  position:absolute;
  left:4px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u645_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u645 {
  position:absolute;
  left:607px;
  top:132px;
  width:124px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u646 {
  position:absolute;
  left:2px;
  top:21px;
  width:120px;
  word-wrap:break-word;
}
#u647 {
  position:absolute;
  left:537px;
  top:162px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u647_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:74px;
  height:8px;
}
#u647_seg1 {
  position:absolute;
  left:55px;
  top:-10px;
  width:20px;
  height:20px;
}
#u648 {
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u649 {
  position:absolute;
  left:413px;
  top:269px;
  width:124px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u650 {
  position:absolute;
  left:2px;
  top:12px;
  width:120px;
  word-wrap:break-word;
}
#u651 {
  position:absolute;
  left:306px;
  top:299px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u651_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:111px;
  height:8px;
}
#u651_seg1 {
  position:absolute;
  left:92px;
  top:-10px;
  width:20px;
  height:20px;
}
#u652 {
  position:absolute;
  left:4px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u653 {
  position:absolute;
  left:598px;
  top:269px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u654 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u655 {
  position:absolute;
  left:537px;
  top:299px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u655_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:65px;
  height:8px;
}
#u655_seg1 {
  position:absolute;
  left:46px;
  top:-10px;
  width:20px;
  height:20px;
}
#u656 {
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u657 {
  position:absolute;
  left:771px;
  top:269px;
  width:124px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u658 {
  position:absolute;
  left:2px;
  top:12px;
  width:120px;
  word-wrap:break-word;
}
#u659 {
  position:absolute;
  left:698px;
  top:299px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u659_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:77px;
  height:8px;
}
#u659_seg1 {
  position:absolute;
  left:58px;
  top:-10px;
  width:20px;
  height:20px;
}
#u660 {
  position:absolute;
  left:-14px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u661 {
  position:absolute;
  left:771px;
  top:355px;
  width:124px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u662 {
  position:absolute;
  left:2px;
  top:12px;
  width:120px;
  word-wrap:break-word;
}
#u663 {
  position:absolute;
  left:648px;
  top:329px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u663_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:60px;
}
#u663_seg1 {
  position:absolute;
  left:-4px;
  top:52px;
  width:127px;
  height:8px;
}
#u663_seg2 {
  position:absolute;
  left:108px;
  top:46px;
  width:20px;
  height:20px;
}
#u664 {
  position:absolute;
  left:-16px;
  top:47px;
  width:100px;
  word-wrap:break-word;
}
#u665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u665 {
  position:absolute;
  left:52px;
  top:492px;
  width:195px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u666 {
  position:absolute;
  left:2px;
  top:11px;
  width:191px;
  word-wrap:break-word;
}
#u667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:50px;
}
#u667 {
  position:absolute;
  left:52px;
  top:579px;
  width:46px;
  height:50px;
}
#u668 {
  position:absolute;
  left:2px;
  top:17px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u669 {
  position:absolute;
  left:182px;
  top:574px;
  width:124px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u670 {
  position:absolute;
  left:2px;
  top:12px;
  width:120px;
  word-wrap:break-word;
}
#u671 {
  position:absolute;
  left:98px;
  top:604px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u671_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:88px;
  height:8px;
}
#u671_seg1 {
  position:absolute;
  left:69px;
  top:-10px;
  width:20px;
  height:20px;
}
#u672 {
  position:absolute;
  left:-8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u673 {
  position:absolute;
  left:380px;
  top:574px;
  width:124px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u674 {
  position:absolute;
  left:2px;
  top:21px;
  width:120px;
  word-wrap:break-word;
}
#u675 {
  position:absolute;
  left:306px;
  top:604px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u675_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:78px;
  height:8px;
}
#u675_seg1 {
  position:absolute;
  left:59px;
  top:-10px;
  width:20px;
  height:20px;
}
#u676 {
  position:absolute;
  left:-13px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u677 {
  position:absolute;
  left:574px;
  top:574px;
  width:124px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u678 {
  position:absolute;
  left:2px;
  top:21px;
  width:120px;
  word-wrap:break-word;
}
#u679 {
  position:absolute;
  left:504px;
  top:604px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u679_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:74px;
  height:8px;
}
#u679_seg1 {
  position:absolute;
  left:55px;
  top:-10px;
  width:20px;
  height:20px;
}
#u680 {
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
