body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:599px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u7804 {
  position:absolute;
  left:65px;
  top:30px;
  width:140px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u7805 {
  position:absolute;
  left:2px;
  top:15px;
  width:136px;
  word-wrap:break-word;
}
#u7806 {
  position:absolute;
  left:65px;
  top:105px;
  width:539px;
  height:185px;
}
#u7807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:35px;
}
#u7807 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7808 {
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u7809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:35px;
}
#u7809 {
  position:absolute;
  left:65px;
  top:0px;
  width:134px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7810 {
  position:absolute;
  left:2px;
  top:8px;
  width:130px;
  word-wrap:break-word;
}
#u7811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:35px;
}
#u7811 {
  position:absolute;
  left:199px;
  top:0px;
  width:335px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7812 {
  position:absolute;
  left:2px;
  top:8px;
  width:331px;
  word-wrap:break-word;
}
#u7813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:40px;
}
#u7813 {
  position:absolute;
  left:0px;
  top:35px;
  width:65px;
  height:40px;
}
#u7814 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u7815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:40px;
}
#u7815 {
  position:absolute;
  left:65px;
  top:35px;
  width:134px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7816 {
  position:absolute;
  left:2px;
  top:11px;
  width:130px;
  word-wrap:break-word;
}
#u7817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:40px;
}
#u7817 {
  position:absolute;
  left:199px;
  top:35px;
  width:335px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7818 {
  position:absolute;
  left:2px;
  top:11px;
  width:331px;
  word-wrap:break-word;
}
#u7819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:35px;
}
#u7819 {
  position:absolute;
  left:0px;
  top:75px;
  width:65px;
  height:35px;
}
#u7820 {
  position:absolute;
  left:2px;
  top:10px;
  width:61px;
  word-wrap:break-word;
}
#u7821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:35px;
}
#u7821 {
  position:absolute;
  left:65px;
  top:75px;
  width:134px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7822 {
  position:absolute;
  left:2px;
  top:8px;
  width:130px;
  word-wrap:break-word;
}
#u7823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:35px;
}
#u7823 {
  position:absolute;
  left:199px;
  top:75px;
  width:335px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7824 {
  position:absolute;
  left:2px;
  top:8px;
  width:331px;
  word-wrap:break-word;
}
#u7825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:35px;
}
#u7825 {
  position:absolute;
  left:0px;
  top:110px;
  width:65px;
  height:35px;
}
#u7826 {
  position:absolute;
  left:2px;
  top:10px;
  width:61px;
  word-wrap:break-word;
}
#u7827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:35px;
}
#u7827 {
  position:absolute;
  left:65px;
  top:110px;
  width:134px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7828 {
  position:absolute;
  left:2px;
  top:8px;
  width:130px;
  word-wrap:break-word;
}
#u7829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:35px;
}
#u7829 {
  position:absolute;
  left:199px;
  top:110px;
  width:335px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7830 {
  position:absolute;
  left:2px;
  top:8px;
  width:331px;
  word-wrap:break-word;
}
#u7831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:35px;
}
#u7831 {
  position:absolute;
  left:0px;
  top:145px;
  width:65px;
  height:35px;
}
#u7832 {
  position:absolute;
  left:2px;
  top:10px;
  width:61px;
  word-wrap:break-word;
}
#u7833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:35px;
}
#u7833 {
  position:absolute;
  left:65px;
  top:145px;
  width:134px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7834 {
  position:absolute;
  left:2px;
  top:8px;
  width:130px;
  word-wrap:break-word;
}
#u7835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:35px;
}
#u7835 {
  position:absolute;
  left:199px;
  top:145px;
  width:335px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7836 {
  position:absolute;
  left:2px;
  top:8px;
  width:331px;
  word-wrap:break-word;
}
