body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:604px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:458px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u728 {
  position:absolute;
  left:48px;
  top:47px;
  width:273px;
  height:458px;
}
#u729 {
  position:absolute;
  left:2px;
  top:221px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:35px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u730 {
  position:absolute;
  left:48px;
  top:47px;
  width:273px;
  height:35px;
  font-size:12px;
}
#u731 {
  position:absolute;
  left:2px;
  top:9px;
  width:269px;
  word-wrap:break-word;
}
#u732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:15px;
}
#u732 {
  position:absolute;
  left:53px;
  top:57px;
  width:40px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u733 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:186px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u734 {
  position:absolute;
  left:56px;
  top:90px;
  width:258px;
  height:186px;
}
#u735 {
  position:absolute;
  left:2px;
  top:85px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:203px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u736 {
  position:absolute;
  left:56px;
  top:286px;
  width:258px;
  height:203px;
}
#u737 {
  position:absolute;
  left:2px;
  top:94px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u738 {
  position:absolute;
  left:88px;
  top:142px;
  width:193px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u739 {
  position:absolute;
  left:2px;
  top:10px;
  width:189px;
  word-wrap:break-word;
}
#u740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u740 {
  position:absolute;
  left:80px;
  top:200px;
  width:216px;
  height:51px;
  font-size:12px;
}
#u741 {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  word-wrap:break-word;
}
#u742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u742 {
  position:absolute;
  left:90px;
  top:323px;
  width:193px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u743 {
  position:absolute;
  left:2px;
  top:10px;
  width:189px;
  word-wrap:break-word;
}
#u744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u744 {
  position:absolute;
  left:82px;
  top:383px;
  width:216px;
  height:51px;
  font-size:12px;
}
#u745 {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  word-wrap:break-word;
}
#u746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u746 {
  position:absolute;
  left:343px;
  top:90px;
  width:261px;
  height:105px;
}
#u747 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  word-wrap:break-word;
}
