body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1315px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6005 {
  position:absolute;
  left:25px;
  top:64px;
  width:108px;
  height:805px;
}
#u6006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
}
#u6006 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u6007 {
  position:absolute;
  left:2px;
  top:12px;
  width:99px;
  word-wrap:break-word;
}
#u6008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
}
#u6008 {
  position:absolute;
  left:0px;
  top:40px;
  width:103px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u6009 {
  position:absolute;
  left:2px;
  top:12px;
  width:99px;
  word-wrap:break-word;
}
#u6010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
}
#u6010 {
  position:absolute;
  left:0px;
  top:80px;
  width:103px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u6011 {
  position:absolute;
  left:2px;
  top:12px;
  width:99px;
  word-wrap:break-word;
}
#u6012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
}
#u6012 {
  position:absolute;
  left:0px;
  top:120px;
  width:103px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u6013 {
  position:absolute;
  left:2px;
  top:12px;
  width:99px;
  word-wrap:break-word;
}
#u6014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
}
#u6014 {
  position:absolute;
  left:0px;
  top:160px;
  width:103px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u6015 {
  position:absolute;
  left:2px;
  top:12px;
  width:99px;
  word-wrap:break-word;
}
#u6016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
}
#u6016 {
  position:absolute;
  left:0px;
  top:200px;
  width:103px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u6017 {
  position:absolute;
  left:2px;
  top:12px;
  width:99px;
  word-wrap:break-word;
}
#u6018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
}
#u6018 {
  position:absolute;
  left:0px;
  top:240px;
  width:103px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u6019 {
  position:absolute;
  left:2px;
  top:12px;
  width:99px;
  word-wrap:break-word;
}
#u6020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
}
#u6020 {
  position:absolute;
  left:0px;
  top:280px;
  width:103px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u6021 {
  position:absolute;
  left:2px;
  top:12px;
  width:99px;
  word-wrap:break-word;
}
#u6022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
}
#u6022 {
  position:absolute;
  left:0px;
  top:320px;
  width:103px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u6023 {
  position:absolute;
  left:2px;
  top:12px;
  width:99px;
  word-wrap:break-word;
}
#u6024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
}
#u6024 {
  position:absolute;
  left:0px;
  top:360px;
  width:103px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u6025 {
  position:absolute;
  left:2px;
  top:12px;
  width:99px;
  word-wrap:break-word;
}
#u6026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
}
#u6026 {
  position:absolute;
  left:0px;
  top:400px;
  width:103px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u6027 {
  position:absolute;
  left:2px;
  top:12px;
  width:99px;
  word-wrap:break-word;
}
#u6028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
}
#u6028 {
  position:absolute;
  left:0px;
  top:440px;
  width:103px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u6029 {
  position:absolute;
  left:2px;
  top:12px;
  width:99px;
  word-wrap:break-word;
}
#u6030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
}
#u6030 {
  position:absolute;
  left:0px;
  top:480px;
  width:103px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u6031 {
  position:absolute;
  left:2px;
  top:12px;
  width:99px;
  word-wrap:break-word;
}
#u6032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
}
#u6032 {
  position:absolute;
  left:0px;
  top:520px;
  width:103px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u6033 {
  position:absolute;
  left:2px;
  top:12px;
  width:99px;
  word-wrap:break-word;
}
#u6034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
}
#u6034 {
  position:absolute;
  left:0px;
  top:560px;
  width:103px;
  height:40px;
  font-size:12px;
  text-align:left;
}
#u6035 {
  position:absolute;
  left:2px;
  top:12px;
  width:99px;
  word-wrap:break-word;
}
#u6036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
}
#u6036 {
  position:absolute;
  left:0px;
  top:600px;
  width:103px;
  height:40px;
  font-size:12px;
  text-align:left;
}
#u6037 {
  position:absolute;
  left:2px;
  top:12px;
  width:99px;
  word-wrap:break-word;
}
#u6038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
}
#u6038 {
  position:absolute;
  left:0px;
  top:640px;
  width:103px;
  height:40px;
  font-size:12px;
  text-align:left;
}
#u6039 {
  position:absolute;
  left:2px;
  top:12px;
  width:99px;
  word-wrap:break-word;
}
#u6040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
}
#u6040 {
  position:absolute;
  left:0px;
  top:680px;
  width:103px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u6041 {
  position:absolute;
  left:2px;
  top:12px;
  width:99px;
  word-wrap:break-word;
}
#u6042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
}
#u6042 {
  position:absolute;
  left:0px;
  top:720px;
  width:103px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u6043 {
  position:absolute;
  left:2px;
  top:12px;
  width:99px;
  word-wrap:break-word;
}
#u6044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
}
#u6044 {
  position:absolute;
  left:0px;
  top:760px;
  width:103px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u6045 {
  position:absolute;
  left:2px;
  top:12px;
  width:99px;
  word-wrap:break-word;
}
#u6046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1290px;
  height:2px;
}
#u6046 {
  position:absolute;
  left:26px;
  top:64px;
  width:1289px;
  height:1px;
}
#u6047 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1285px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:791px;
}
#u6048 {
  position:absolute;
  left:127px;
  top:64px;
  width:1px;
  height:790px;
}
#u6049 {
  position:absolute;
  left:2px;
  top:387px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u6050 {
  position:absolute;
  left:26px;
  top:21px;
  width:115px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u6051 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u6052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6052 {
  position:absolute;
  left:192px;
  top:122px;
  width:73px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6053 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6054 {
  position:absolute;
  left:192px;
  top:238px;
  width:637px;
  height:105px;
}
#u6055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u6055 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u6056 {
  position:absolute;
  left:2px;
  top:6px;
  width:79px;
  word-wrap:break-word;
}
#u6057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:30px;
}
#u6057 {
  position:absolute;
  left:83px;
  top:0px;
  width:386px;
  height:30px;
}
#u6058 {
  position:absolute;
  left:2px;
  top:6px;
  width:382px;
  word-wrap:break-word;
}
#u6059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:30px;
}
#u6059 {
  position:absolute;
  left:469px;
  top:0px;
  width:163px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6060 {
  position:absolute;
  left:2px;
  top:6px;
  width:159px;
  word-wrap:break-word;
}
#u6061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
}
#u6061 {
  position:absolute;
  left:0px;
  top:30px;
  width:83px;
  height:40px;
}
#u6062 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u6063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:40px;
}
#u6063 {
  position:absolute;
  left:83px;
  top:30px;
  width:386px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6064 {
  position:absolute;
  left:2px;
  top:11px;
  width:382px;
  word-wrap:break-word;
}
#u6065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:40px;
}
#u6065 {
  position:absolute;
  left:469px;
  top:30px;
  width:163px;
  height:40px;
}
#u6066 {
  position:absolute;
  left:2px;
  top:11px;
  width:159px;
  word-wrap:break-word;
}
#u6067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u6067 {
  position:absolute;
  left:0px;
  top:70px;
  width:83px;
  height:30px;
}
#u6068 {
  position:absolute;
  left:2px;
  top:8px;
  width:79px;
  word-wrap:break-word;
}
#u6069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:30px;
}
#u6069 {
  position:absolute;
  left:83px;
  top:70px;
  width:386px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6070 {
  position:absolute;
  left:2px;
  top:6px;
  width:382px;
  word-wrap:break-word;
}
#u6071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:30px;
}
#u6071 {
  position:absolute;
  left:469px;
  top:70px;
  width:163px;
  height:30px;
}
#u6072 {
  position:absolute;
  left:2px;
  top:6px;
  width:159px;
  word-wrap:break-word;
}
#u6073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 102, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u6073 {
  position:absolute;
  left:192px;
  top:186px;
  width:83px;
  height:33px;
  font-size:12px;
  color:#FFFFFF;
}
#u6074 {
  position:absolute;
  left:2px;
  top:8px;
  width:79px;
  word-wrap:break-word;
}
#u6075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:182px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6075 {
  position:absolute;
  left:192px;
  top:503px;
  width:344px;
  height:182px;
}
#u6076 {
  position:absolute;
  left:2px;
  top:83px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:42px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6077 {
  position:absolute;
  left:192px;
  top:503px;
  width:344px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6078 {
  position:absolute;
  left:2px;
  top:12px;
  width:340px;
  word-wrap:break-word;
}
#u6079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6079 {
  position:absolute;
  left:230px;
  top:564px;
  width:76px;
  height:20px;
}
#u6080 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u6081 {
  position:absolute;
  left:304px;
  top:562px;
  width:196px;
  height:25px;
}
#u6081_input {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6082 {
  position:absolute;
  left:254px;
  top:620px;
  width:86px;
  height:32px;
}
#u6083 {
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  word-wrap:break-word;
}
#u6084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6084 {
  position:absolute;
  left:389px;
  top:620px;
  width:86px;
  height:32px;
}
#u6085 {
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  word-wrap:break-word;
}
#u6086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:182px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6086 {
  position:absolute;
  left:192px;
  top:713px;
  width:344px;
  height:182px;
}
#u6087 {
  position:absolute;
  left:2px;
  top:83px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:42px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6088 {
  position:absolute;
  left:192px;
  top:713px;
  width:344px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6089 {
  position:absolute;
  left:2px;
  top:12px;
  width:340px;
  word-wrap:break-word;
}
#u6090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6090 {
  position:absolute;
  left:230px;
  top:774px;
  width:76px;
  height:20px;
}
#u6091 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u6092 {
  position:absolute;
  left:304px;
  top:772px;
  width:196px;
  height:25px;
}
#u6092_input {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6093 {
  position:absolute;
  left:254px;
  top:830px;
  width:86px;
  height:32px;
}
#u6094 {
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  word-wrap:break-word;
}
#u6095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6095 {
  position:absolute;
  left:389px;
  top:830px;
  width:86px;
  height:32px;
}
#u6096 {
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  word-wrap:break-word;
}
#u6097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:182px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6097 {
  position:absolute;
  left:192px;
  top:917px;
  width:253px;
  height:182px;
}
#u6098 {
  position:absolute;
  left:2px;
  top:83px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:42px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6099 {
  position:absolute;
  left:192px;
  top:917px;
  width:253px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6100 {
  position:absolute;
  left:2px;
  top:12px;
  width:249px;
  word-wrap:break-word;
}
#u6101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u6101 {
  position:absolute;
  left:248px;
  top:986px;
  width:141px;
  height:20px;
  color:#666666;
}
#u6102 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u6103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6103 {
  position:absolute;
  left:220px;
  top:1036px;
  width:86px;
  height:32px;
}
#u6104 {
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  word-wrap:break-word;
}
#u6105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6105 {
  position:absolute;
  left:332px;
  top:1036px;
  width:86px;
  height:32px;
}
#u6106 {
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  word-wrap:break-word;
}
