body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:719px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1336_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:458px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1336 {
  position:absolute;
  left:99px;
  top:35px;
  width:273px;
  height:458px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1337 {
  position:absolute;
  left:2px;
  top:220px;
  width:269px;
  word-wrap:break-word;
}
#u1338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:35px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1338 {
  position:absolute;
  left:99px;
  top:35px;
  width:273px;
  height:35px;
  font-size:12px;
}
#u1339 {
  position:absolute;
  left:2px;
  top:9px;
  width:269px;
  word-wrap:break-word;
}
#u1340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:17px;
}
#u1340 {
  position:absolute;
  left:104px;
  top:45px;
  width:40px;
  height:17px;
  font-size:12px;
  text-align:center;
}
#u1341 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u1342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:458px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1342 {
  position:absolute;
  left:446px;
  top:35px;
  width:273px;
  height:458px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1343 {
  position:absolute;
  left:2px;
  top:221px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:35px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1344 {
  position:absolute;
  left:446px;
  top:35px;
  width:273px;
  height:35px;
  font-size:12px;
}
#u1345 {
  position:absolute;
  left:2px;
  top:9px;
  width:269px;
  word-wrap:break-word;
}
#u1346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:15px;
}
#u1346 {
  position:absolute;
  left:451px;
  top:45px;
  width:40px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u1347 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u1348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:58px;
}
#u1348 {
  position:absolute;
  left:551px;
  top:161px;
  width:63px;
  height:58px;
}
#u1349 {
  position:absolute;
  left:2px;
  top:21px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
}
#u1350 {
  position:absolute;
  left:546px;
  top:236px;
  width:73px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1351 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
