body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:687px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:458px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2879 {
  position:absolute;
  left:67px;
  top:42px;
  width:273px;
  height:458px;
}
#u2880 {
  position:absolute;
  left:2px;
  top:221px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:35px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2881 {
  position:absolute;
  left:67px;
  top:42px;
  width:273px;
  height:35px;
  font-size:12px;
}
#u2882 {
  position:absolute;
  left:2px;
  top:9px;
  width:269px;
  word-wrap:break-word;
}
#u2883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:17px;
}
#u2883 {
  position:absolute;
  left:72px;
  top:52px;
  width:40px;
  height:17px;
  font-size:12px;
  text-align:center;
}
#u2884 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u2885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2885 {
  position:absolute;
  left:72px;
  top:127px;
  width:5px;
  height:16px;
}
#u2886 {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  visibility:hidden;
  white-space:nowrap;
}
#u2887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2887 {
  position:absolute;
  left:67px;
  top:77px;
  width:273px;
  height:114px;
}
#u2888 {
  position:absolute;
  left:2px;
  top:49px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:48px;
}
#u2889 {
  position:absolute;
  left:179px;
  top:87px;
  width:49px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2890 {
  position:absolute;
  left:2px;
  top:15px;
  width:45px;
  word-wrap:break-word;
}
#u2891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2891 {
  position:absolute;
  left:129px;
  top:151px;
  width:149px;
  height:20px;
}
#u2892 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
#u2893 {
  position:absolute;
  left:67px;
  top:208px;
  width:278px;
  height:85px;
}
#u2894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:40px;
}
#u2894 {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2895 {
  position:absolute;
  left:2px;
  top:11px;
  width:269px;
  word-wrap:break-word;
}
#u2896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:40px;
}
#u2896 {
  position:absolute;
  left:0px;
  top:40px;
  width:273px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2897 {
  position:absolute;
  left:2px;
  top:11px;
  width:269px;
  word-wrap:break-word;
}
#u2898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
}
#u2898 {
  position:absolute;
  left:311px;
  top:220px;
  width:8px;
  height:14px;
}
#u2899 {
  position:absolute;
  left:2px;
  top:-1px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
}
#u2900 {
  position:absolute;
  left:311px;
  top:260px;
  width:8px;
  height:14px;
}
#u2901 {
  position:absolute;
  left:2px;
  top:-1px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2902 {
  position:absolute;
  left:67px;
  top:457px;
  width:278px;
  height:48px;
}
#u2903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:43px;
}
#u2903 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:43px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2904 {
  position:absolute;
  left:2px;
  top:14px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:43px;
}
#u2905 {
  position:absolute;
  left:68px;
  top:0px;
  width:68px;
  height:43px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2906 {
  position:absolute;
  left:2px;
  top:14px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:43px;
}
#u2907 {
  position:absolute;
  left:136px;
  top:0px;
  width:68px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2908 {
  position:absolute;
  left:2px;
  top:14px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:43px;
}
#u2909 {
  position:absolute;
  left:204px;
  top:0px;
  width:69px;
  height:43px;
  font-size:12px;
}
#u2910 {
  position:absolute;
  left:2px;
  top:14px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF6666;
  text-align:center;
}
#u2911 {
  position:absolute;
  left:290px;
  top:457px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF6666;
  text-align:center;
}
#u2912 {
  position:absolute;
  left:0px;
  top:5px;
  width:30px;
  word-wrap:break-word;
}
#u2913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u2913 {
  position:absolute;
  left:221px;
  top:457px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u2914 {
  position:absolute;
  left:0px;
  top:5px;
  width:30px;
  word-wrap:break-word;
}
#u2915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u2915 {
  position:absolute;
  left:86px;
  top:457px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u2916 {
  position:absolute;
  left:0px;
  top:5px;
  width:30px;
  word-wrap:break-word;
}
#u2917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u2917 {
  position:absolute;
  left:90px;
  top:482px;
  width:23px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u2918 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u2919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u2919 {
  position:absolute;
  left:222px;
  top:482px;
  width:36px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u2920 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u2921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FF6666;
}
#u2921 {
  position:absolute;
  left:299px;
  top:482px;
  width:19px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FF6666;
}
#u2922 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  word-wrap:break-word;
}
#u2923 {
  position:absolute;
  left:135px;
  top:459px;
  width:68px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2924 {
  position:absolute;
  left:199px;
  top:459px;
  width:71px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2925 {
  position:absolute;
  left:269px;
  top:459px;
  width:71px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u2926 {
  position:absolute;
  left:160px;
  top:482px;
  width:23px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u2927 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u2928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u2928 {
  position:absolute;
  left:157px;
  top:457px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u2929 {
  position:absolute;
  left:0px;
  top:5px;
  width:30px;
  word-wrap:break-word;
}
#u2930 {
  position:absolute;
  left:67px;
  top:457px;
  width:69px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2931 {
  position:absolute;
  left:251px;
  top:455px;
  width:15px;
  height:15px;
  font-size:10px;
  color:#FFFFFF;
}
#u2932 {
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  word-wrap:break-word;
}
#u2933_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:36px;
  height:45px;
}
#u2933 {
  position:absolute;
  left:351px;
  top:93px;
  width:26px;
  height:35px;
}
#u2934 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  word-wrap:break-word;
}
#u2935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2935 {
  position:absolute;
  left:387px;
  top:101px;
  width:300px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2936 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u2937_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:36px;
  height:45px;
}
#u2937 {
  position:absolute;
  left:235px;
  top:77px;
  width:26px;
  height:35px;
}
#u2938 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  word-wrap:break-word;
}
